@import "tailwindcss";

@theme {
  --color-bone: #f4f1ea;
  --color-carbon: #2c2c2c;
  --color-stone: #6b6658;
  --color-stone-light: #d1cec1;
  --color-bone-alt: #fbfaf7;
}

@layer base {
  body {
    @apply antialiased text-carbon bg-bone;
  }
}